@font-face {
	 font-family: 'Avenir';
	 src: url("./fonts/AvenirNext-Regular.ttf") format("truetype");
}
@font-face {
	 font-family: 'AvenirBold';
	 src: url("./fonts/AvenirNext-Bold.ttf") format("truetype");
}
@font-face {
	 font-family: 'Handwriting';
	 src: url("./fonts/Noteworthy-Light.ttf") format("truetype");
}
body {
	background:url('../img/low_contrast_linen.png') top center;
	background-attachment: fixed;
	font-family: Avenir;
	color:#666;
	font-size:1em;
}

h1 {
    font-size:4.5em;
    text-shadow: 1px 1px 3px #333;
	color:#fff;
	margin-top:100px;
	margin-bottom: 0;
}
strong {
	font-family: AvenirBold;
}
hr {
	visibility:hidden;
	clear:both;
	height:0;
	margin:0;
	padding:0;
	width:0;
	border:none;
}
.wrapper {
	margin:0 auto;
	width:1100px;
	border:1px solid silver;
	background:#F2F2F2;
	padding:10px;
}
h2 {
	font-family:Handwriting;
	font-size:2.5em;
	color:#fff;
	font-style:italic;
	text-shadow:1px 1px 3px #333;
	margin-bottom: 10px;
}


p {
	background:rgba(0,0,0,0.2);
	border-radius:10px;	
	box-shadow:inset 1px 1px 3px #000, inset 0px -1px 0px #ccc;
	-webkit-box-shadow:1px 1px 5px inset #000;
	padding:15px;
	margin-bottom:10px;
}

article {
	margin-top: 10px;
}
footer {		
}

#globalHeader {
	font-size:3em;
	text-align:center;
	text-shadow: 1px 1px 3px #333;
	color:#fff;	
	margin-top:0;
	background:#666;
}

.globalHeaderBox{
	background:#ffffff;
	border-bottom:1px solid #333;
	border-right: 1px solid #333;
	border-left: 1px solid #333;
	color:#333;
	height:20px;
}

#globalNav {
	
}
#globalNav a {
	background:#aaa;
	border-radius:0 0 10px 10px;
	color:#fff;
	padding:0 10px;
	margin:0;
	display:block;
	float:left;
	border:1px solid black;
	border-top:none;
	text-decoration:none;
}
.projectPersonNav {
	float:left;
}

.newProjectNav {
	float:right;
}

.projectOverview {
	width:800px;
	margin:50px auto 0 auto;
}

.projectOverviewButtons a{
	display:block;
	float:left;
	width:80px;
	background:#999;
	color:#fff;
	text-decoration:none;
	padding-left:10px;
}

.projectOverviewContent {
	height:200px;
	background:#ccc;
}

.phpError {
	color:#666;
}
.primaryTasksRow {
	/*border:2px solid fuchsia;*/
}

.red.userTaskRow1 td.singleTask{
	background:#A60000;
}
.red.userTaskRow2 td.singleTask{
	background:#BF3030;
}
.red.userTaskRow3 td.singleTask{
	background:#FF0000;
}
.red.userTaskRow4 td.singleTask{
	background:#FF4040;
}
.red.userTaskRow5 td.singleTask{
	background:#FF7373;
}
.blue.userTaskRow1 td.singleTask {
	background:#006363;
}
.blue.userTaskRow2 td.singleTask {
	background:#1D7373;
}
.blue.userTaskRow3 td.singleTask {
	background:#009999;
}
.blue.userTaskRow4 td.singleTask {
	background:#33CCCC;
}
.blue.userTaskRow5 td.singleTask {
	background:#5CCCCC;
}
.green.userTaskRow1 td.singleTask {
	background:#008500;
}
.green.userTaskRow2 td.singleTask {
	background:#269926;
}
.green.userTaskRow3 td.singleTask {
	background:#00CC00;
}
.green.userTaskRow4 td.singleTask {
	background:#39E639;
}
.green.userTaskRow5 td.singleTask {
	background:#67E667;
}
.orange.userTaskRow1 td.singleTask {
	background:#A64800;
}
.orange.userTaskRow2 td.singleTask {
	background:#BF7120;
}
.orange.userTaskRow3 td.singleTask {
	background:#FF7400;
}
.orange.userTaskRow4 td.singleTask {
	background:#FF9640;
}
.orange.userTaskRow5 td.singleTask {
	background:#FFB273;
}
.lightblue.userTaskRow1 td.singleTask {
	background:#04346C;
}
.lightblue.userTaskRow2 td.singleTask {
	background:#274E7D;
}
.lightblue.userTaskRow3 td.singleTask {
	background:#0E53A7;
}
.lightblue.userTaskRow4 td.singleTask {
	background:#4284D3;
}
.lightblue.userTaskRow5 td.singleTask {
	background:#6899D3;
}




.calendarWeek {
	border: 1px solid #999;
	text-align:center;
	color:#666;
}
.calendarDay {
	border-left:1px solid silver;
	border-right:1px solid silver;
	border-bottom:1px solid silver;
	height:29px;
	color:#666;
	font-size:0.8em;
	vertical-align:top;
	text-align:center;
	width:20px;
}



.projectSingleName {
	width:100px;
	border: 1px solid silver;
	text-align:center;
	color:#666;
	vertical-align:middle;
	font-size:0.8em;
	overflow:hidden;	
}
.projectMainDates{
	background:#666;
	height:20px;
	border:1px solid silver;
	position:relative;
}

.taetigkeitsbox {
	width:10px;
	height:10px;
	display:inline-block;
}

.primaryTaskName {
	position:absolute;
	right:-103px;
	width:100px;
	top:-1px;
	height:21px;
	padding-top:1px;
	/*background:fuchsia;*/
}
.projectDates {
	border:1px solid silver;
	border-bottom:none;
	border-top:none;
	height:19px;
	color:#666;
	font-size:0.8em;
	text-align:center;	
}

.singleTask {
	text-align:center;
	border:1px solid silver;
	font-size:0.8em;
}

.lastRow td.projectDates {
	border-bottom:1px solid silver;
}
.primaryTaskRow td{
}
.primaryTasksRow .emptyTD {
	background:silver;
	/*border:1px solid fuchsia;*/
}
.emptyTD {
	border-right:1px solid silver;
	/*border-top:1px solid silver;*/
	border-left:1px solid silver;
}

.personTS {
	background:lightblue;
}
.personAD {
	background:rgb(126,136,171);
	color:#fff;
}

.planung {
}

form.next {
	float:right;
}
form.previous {
	float:right;
}


td.day17 {
	
}

.highlightDay {
	background:lightblue;
}

h4 {
	font-weight:bold;
}