/********************\

SingleProjectColors

\********************/

.red.userTaskRow1 td.singleTask{
	background:#A60000;
	color:#fff;
//	border:1px solid darkred;
}
.red.userTaskRow2 td.singleTask{
	background:#BF3030;
	color:#fff;
//	border:1px solid red;
}
.red.userTaskRow3 td.singleTask{
	background:#FF0000;
	color:#fff;
//	border:1px solid blue;
}
.red.userTaskRow4 td.singleTask{
	background:#FF4040;
	color:#fff;
}
.red.userTaskRow5 td.singleTask{
	background:#FF7373;
	color:#fff;
}
.blue.userTaskRow1 td.singleTask {
	background:#006363;
	color:#fff;
}
.blue.userTaskRow2 td.singleTask {
	background:#1D7373;
	color:#fff;
}
.blue.userTaskRow3 td.singleTask {
	background:#009999;
	color:#fff;
}
.blue.userTaskRow4 td.singleTask {
	background:#33CCCC;
	color:#fff;
}
.blue.userTaskRow5 td.singleTask {
	background:#5CCCCC;
	color:#fff;
}
.green.userTaskRow1 td.singleTask {
	background:#008500;
	color:#fff;
}
.green.userTaskRow2 td.singleTask {
	background:#269926;
	color:#fff;
}
.green.userTaskRow3 td.singleTask {
	background:#00CC00;
	color:#fff;
}
.green.userTaskRow4 td.singleTask {
	background:#39E639;
	color:#fff;
}
.green.userTaskRow5 td.singleTask {
	background:#67E667;
	color:#fff;
}
.orange.userTaskRow1 td.singleTask {
	background:#A64800;
	color:#fff;
//	border:1px solid #A64800;
}
.orange.userTaskRow2 td.singleTask {
	background:#BF7120;
	color:#fff;
//	border:1px solid #BF7120;
}
.orange.userTaskRow3 td.singleTask {
	background:#FF7400;
	color:#fff;
//	border:1px solid #FF7400;
}
.orange.userTaskRow4 td.singleTask {
	background:#FF9640;
	color:#fff;
}
.orange.userTaskRow5 td.singleTask {
	background:#FFB273;
	color:#fff;
}
.lightblue.userTaskRow1 td.singleTask {
	background:#04346C;
	color:#fff;
}
.lightblue.userTaskRow2 td.singleTask {
	background:#274E7D;
	color:#fff;
}
.lightblue.userTaskRow3 td.singleTask {
	background:#0E53A7;
	color:#fff;
}
.lightblue.userTaskRow4 td.singleTask {
	background:#4284D3;
	color:#fff;
}
.lightblue.userTaskRow5 td.singleTask {
	background:#6899D3;
	color:#fff;
}